<p id="notice"><%= notice %></p>

<p>
  <strong>Description:</strong>
  <%= @type_debit.description %>
</p>

<%= link_to 'Edit', edit_type_debit_path(@type_debit) %> |
<%= link_to 'Back', type_debits_path %>
